.header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 10px;
}

.logo, .search_bar, .user_menu {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    justify-content: flex-start;
}

.user_menu {
    justify-content: flex-end;
}

.search_bar {
    justify-content: center;
}


.search_bar form {
    display: flex;
    gap: 10px;
}

.search_bar input {
    padding: 5px;
    width: 200px;
}

.search_bar button {
    padding: 5px 10px;
}

.user_menu button {
    padding: 5px 10px;
    margin-left: 5px;
}

img {
    width: auto;
    height: 100px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
}

.navbar li {
    flex: 1;
    text-align: center;
}

.navbar a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #555;
    color: #f0f0f0;
}
